<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>CLVR</string>
	<key>CFBundleVersion</key>
	<string>2.0.3</string>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>CLVR needs access to your Desktop folder to monitor and rename files.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>CLVR needs access to your Documents folder to monitor and rename files.</string>
</dict>
</plist>
